<ul *ngIf="paginas?.length>0" class="pagination" style="overflow:scroll;">
  <li *ngIf="paginador.number >0" class="page-item">
    <a [routerLink]="['/clientes/page',paginador.number-1]" class="page-link">&laquo;</a>
  </li>
  <li [ngClass]="paginador.first?'disabled page-item': 'page-item'">
    <a [routerLink]="['/clientes/page',0]" class="page-link">Prinera</a>
  </li>
  <li *ngFor="let pagina of paginas" [ngClass]="pagina-1 == paginador.number?'actived':''" class="page-item">
    <span *ngIf="pagina-1 == paginador.number" class="page-link">{{pagina}}</span>
    <a *ngIf="pagina-1 !=paginador.number" [routerLink]="['/clientes/page',pagina-1]" class="page-link">{{pagina}}</a>
  </li>
  <li [ngClass]="paginador.last?'disabled page-item': 'page-item'">
    <a [routerLink]="['/clientes/page',paginador.totalPages-1]" class="page-link">Ultima</a>
  </li>
  <li *ngIf="paginador.number < paginador.totalPages-1" class="page-item">
    <a [routerLink]="['/clientes/page',paginador.number+1]" class="page-link">&raquo;</a>
  </li>
</ul>
