<div class="card bg-light">
  <div class="card-header">{{titulo}}: {{factura.descripcion}}</div>
  <div class="card-body">
    <h4 class="cars-title">
      <a [routerLink]="['/clientes']" class="btn btn-light btn-xs"></a>
    </h4>
    <form>
      <div *ngIf="factura.cliente" class="form-group row">
        <label class="col-sm-2 col-form-label" for="cliente">Cliente</label>
        <div class="col-sm-6">
          <input class="form-control" disabled id="cliente" name="cliente" type="text"
                 value="{{factura.cliente.nombre}} {{factura.cliente.apellido}}">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="descripcion">Descripcion</label>
        <div class="col-sm-6">
          <input [(ngModel)]="factura.descripcion" class="form-control" id="descripcion" name="descripcion" type="text">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="observacion">Observacion</label>
        <div class="col-sm-6">
          <textarea [(ngModel)]="factura.observacion" class="form-control" id="observacion"
                    name="observacion"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <mat-form-field>
            <input [formControl]="autoCompleteControl" [matAutocomplete]="auto" aria-label="Productos" matInput
                   placeholder="Añadir producto" type="text">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="seleccionarProducto($event)"
                              [displayWith]="mostrarNombre">
              <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                {{producto.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
          <th>Productos</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of factura.items">
          <td>{{item.producto.nombre}}</td>
          <td>{{item.producto.precio}}</td>
          <td>{{item.cantidad}}</td>
          <td>{{item.calcularImporte()}}</td>
        </tr>
        </tbody>
      </table>
      <div class="form-group row">
        <div class="col-sm-6">
          <input class="btn btn-secondary" type="submit" value="Crear Factura">
        </div>
      </div>
    </form>
  </div>
</div>
