<div *ngIf="modalService.modal" class="abrir-modal animacion fadeIn">
  <div class="modal" role="dialog" style="display: block" tabindex="-1">
    <div class="modal-dialog-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{titulo}}</h5>
          <button (click)="cerrarModal()" aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
          <div class="row">
            <div class="col-sm">
              <ul *ngIf="cliente" class="list-group text-dark mb-3">
                <li class="list-group-item active ">{{cliente.nombre}}</li>
                <li class="list-group-item">{{cliente.apellido}}</li>
                <li class="list-group-item">{{cliente.email}}</li>
                <li class="list-group-item">{{cliente.createAt}}</li>
                <li class="list-group-item">{{cliente.region.nombre}}</li>
                <li class="list-group-item">{{cliente.foto}}</li>
              </ul>
            </div>
            <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="input-group">
              <div class="custom-file">
                <input (change)="seleccionarFoto($event)" aria-describedby="inputGroupFileAddon04"
                       class="custom-file-input"
                       id="inputGroupFile04" type="file">
                <label class="custom-file-label" for="inputGroupFile04">Seleccionar foto</label>
              </div>
              <div class="input-group-append">
                <button (click)="subirFoto()" class="btn btn-outline-secondary" id="inputGroupFileAddon04"
                        type="button">
                  Cargar
                </button>
              </div>
            </div>
            <div *ngIf="progreso>0" class="progress">
              <div [ngStyle]="{width: progreso+'%'}" aria-valuemax="100" aria-valuemin="0"
                   attr.aria-valuenow="{{progreso}}"
                   class="progress-bar progress-bar-striped" role="progressbar">{{progreso}}%
              </div>
            </div>
            <div class="col-sm-2">
              <img *ngIf="cliente?.foto" alt="{{cliente.foto}}" class="img-thumbnail "
                   src="http://localhost:8080/api/uploads/img/{{cliente.foto}}">
            </div>
          </div>
            <div class="row">
              <div *ngIf="cliente.facturas.length==0" class="alert alert-info my-4">
                No hay facturas asignadas para el cliente {{cliente.nombre}} {{cliente.apellido}}
              </div>
              <table *ngIf="cliente.facturas.length>0" class="table table-bordered table-striped my-4">
                <thead>
                <th>Folio</th>
                <th>Descripciom</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>detalle</th>
                <th>eliminar</th>
                </thead>
                <tbody>
                <tr *ngFor="let factura of cliente.facturas">
                  <td>{{factura.id}}</td>
                  <td>{{factura.descripcion}}</td>
                  <td>{{factura.createAt}}</td>
                  <td>{{factura.total}}</td>
                  <td>
                    <button [routerLink]="['/facturas',factura.id]" class="btn btn-primary btn-sm" type="button">Ver
                    </button>
                  </td>
                  <td>
                    <button (click)="delete(factura)" class="btn btn-danger btn-sm" type="button">Eliminar</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
