<div class="card bg-dark text-white">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <ul *ngIf="cliente" class="list-group text-dark mb-3">
            <li class="list-group-item active ">{{cliente.nombre}}</li>
            <li class="list-group-item">{{cliente.apellido}}</li>
            <li class="list-group-item">{{cliente.email}}</li>
            <li class="list-group-item">{{cliente.createAt | date:"fullDate"}}</li>
            <li class="list-group-item">{{cliente.foto}}</li>
          </ul>
        </div>
        <div class="input-group">
          <div class="custom-file">
            <input (change)="seleccionarFoto($event)" aria-describedby="inputGroupFileAddon04" class="custom-file-input"
                   id="inputGroupFile04" type="file">
            <label class="custom-file-label" for="inputGroupFile04">Seleccionar foto</label>
          </div>
          <div class="input-group-append">
            <button (click)="subirFoto()" class="btn btn-outline-secondary" id="inputGroupFileAddon04" type="button">
              Cargar
            </button>
          </div>
        </div>
        <div class="col-sm-2">
          <img *ngIf="cliente?.foto" alt="{{cliente.foto}}" class="img-thumbnail "
               src="http://localhost:8080/api/uploads/img/{{cliente.foto}}">
        </div>
      </div>
    </div>
  </div>
</div>
